In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=de6c5f695058cbf65e41276608a31a027fb57332f69efb58a57642a01b9983db
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Loan approval").getOrCreate()

In [ ]:
sc = spark.sparkContext

In [ ]:
data = spark.read.option('header',True).csv('/content/loan_approval_dataset.csv')

In [ ]:
data.show()

+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|loan_id| no_of_dependents|    education| self_employed| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
|      1|                2|     Graduate|            No|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|
|      2|                0| Not Graduate|           Yes|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|
|      3|                3|     Graduate|            No|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|
|      4|                3|     Graduate|            No|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|
|      5|                5| Not Graduate|           Yes|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|
|      6|                0|     Graduate|           Yes|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|
|      7|                5|     Graduate|            No|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|
|      8|                2|     Graduate|           Yes|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|
|      9|                0|     Graduate|           Yes|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|
|     10|                5| Not Graduate|            No|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|
|     11|                4|     Graduate|           Yes|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|
|     12|                2| Not Graduate|           Yes|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|
|     13|                3| Not Graduate|           Yes|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|
|     14|                2|     Graduate|           Yes|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|
|     15|                1| Not Graduate|            No|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|
|     16|                5| Not Graduate|            No|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|
|     17|                2|     Graduate|           Yes|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|
|     18|                4| Not Graduate|           Yes|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|
|     19|                2|     Graduate|            No|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|
|     20|                5|     Graduate|            No|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+
only showing top 20 rows

In [ ]:
data.printSchema()

root
 |-- loan_id: string (nullable = true)
 |--  no_of_dependents: string (nullable = true)
 |--  education: string (nullable = true)
 |--  self_employed: string (nullable = true)
 |--  income_annum: string (nullable = true)
 |--  loan_amount: string (nullable = true)
 |--  loan_term: string (nullable = true)
 |--  cibil_score: string (nullable = true)
 |--  residential_assets_value: string (nullable = true)
 |--  commercial_assets_value: string (nullable = true)
 |--  luxury_assets_value: string (nullable = true)
 |--  bank_asset_value: string (nullable = true)
 |--  loan_status: string (nullable = true)

In [ ]:
data.count()

4269

In [ ]:
import pyspark.sql.functions as f
from pyspark.sql.types import IntegerType

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler

In [ ]:
#CATEGORICAL COLUMNS : EDUCATION, SELF EMPLOYED AND APPROVAL:::

In [ ]:
indexer = StringIndexer(inputCol=' self_employed', outputCol='self_employed_numeric').fit(data)
data = indexer.transform(data)

In [ ]:
data.show()

+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+
|loan_id| no_of_dependents|    education| self_employed| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|self_employed_numeric|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+
|      1|                2|     Graduate|            No|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|                  1.0|
|      2|                0| Not Graduate|           Yes|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|                  0.0|
|      3|                3|     Graduate|            No|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|                  1.0|
|      4|                3|     Graduate|            No|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|                  1.0|
|      5|                5| Not Graduate|           Yes|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|                  0.0|
|      6|                0|     Graduate|           Yes|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|                  0.0|
|      7|                5|     Graduate|            No|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|                  1.0|
|      8|                2|     Graduate|           Yes|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|                  0.0|
|      9|                0|     Graduate|           Yes|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|                  0.0|
|     10|                5| Not Graduate|            No|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|                  1.0|
|     11|                4|     Graduate|           Yes|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|                  0.0|
|     12|                2| Not Graduate|           Yes|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|                  0.0|
|     13|                3| Not Graduate|           Yes|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|                  0.0|
|     14|                2|     Graduate|           Yes|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|                  0.0|
|     15|                1| Not Graduate|            No|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|                  1.0|
|     16|                5| Not Graduate|            No|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|                  1.0|
|     17|                2|     Graduate|           Yes|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|                  0.0|
|     18|                4| Not Graduate|           Yes|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|                  0.0|
|     19|                2|     Graduate|            No|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|                  1.0|
|     20|                5|     Graduate|            No|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|                  1.0|
+-------+-----------------+-------------+--------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+
only showing top 20 rows

In [ ]:
data  = data.drop(' self_employed')
data.show()

+-------+-----------------+-------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+
|loan_id| no_of_dependents|    education| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|self_employed_numeric|
+-------+-----------------+-------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+
|      1|                2|     Graduate|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|                  1.0|
|      2|                0| Not Graduate|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|                  0.0|
|      3|                3|     Graduate|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|                  1.0|
|      4|                3|     Graduate|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|                  1.0|
|      5|                5| Not Graduate|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|                  0.0|
|      6|                0|     Graduate|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|                  0.0|
|      7|                5|     Graduate|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|                  1.0|
|      8|                2|     Graduate|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|                  0.0|
|      9|                0|     Graduate|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|                  0.0|
|     10|                5| Not Graduate|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|                  1.0|
|     11|                4|     Graduate|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|                  0.0|
|     12|                2| Not Graduate|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|                  0.0|
|     13|                3| Not Graduate|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|                  0.0|
|     14|                2|     Graduate|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|                  0.0|
|     15|                1| Not Graduate|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|                  1.0|
|     16|                5| Not Graduate|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|                  1.0|
|     17|                2|     Graduate|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|                  0.0|
|     18|                4| Not Graduate|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|                  0.0|
|     19|                2|     Graduate|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|                  1.0|
|     20|                5|     Graduate|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|                  1.0|
+-------+-----------------+-------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+
only showing top 20 rows

In [ ]:
indexer = StringIndexer(inputCol = ' education',outputCol = 'education_numeric').fit(data)
data = indexer.transform(data)

In [ ]:
data.show()

+-------+-----------------+-------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+
|loan_id| no_of_dependents|    education| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|self_employed_numeric|education_numeric|
+-------+-----------------+-------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+
|      1|                2|     Graduate|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|                  1.0|              0.0|
|      2|                0| Not Graduate|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|                  0.0|              1.0|
|      3|                3|     Graduate|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|                  1.0|              0.0|
|      4|                3|     Graduate|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|                  1.0|              0.0|
|      5|                5| Not Graduate|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|                  0.0|              1.0|
|      6|                0|     Graduate|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|                  0.0|              0.0|
|      7|                5|     Graduate|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|                  1.0|              0.0|
|      8|                2|     Graduate|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|                  0.0|              0.0|
|      9|                0|     Graduate|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|                  0.0|              0.0|
|     10|                5| Not Graduate|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|                  1.0|              1.0|
|     11|                4|     Graduate|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|                  0.0|              0.0|
|     12|                2| Not Graduate|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|                  0.0|              1.0|
|     13|                3| Not Graduate|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|                  0.0|              1.0|
|     14|                2|     Graduate|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|                  0.0|              0.0|
|     15|                1| Not Graduate|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|                  1.0|              1.0|
|     16|                5| Not Graduate|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|                  1.0|              1.0|
|     17|                2|     Graduate|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|                  0.0|              0.0|
|     18|                4| Not Graduate|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|                  0.0|              1.0|
|     19|                2|     Graduate|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|                  1.0|              0.0|
|     20|                5|     Graduate|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|                  1.0|              0.0|
+-------+-----------------+-------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+
only showing top 20 rows

In [ ]:
data = data.drop(' education')
data.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|self_employed_numeric|education_numeric|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+
|      1|                2|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|                  1.0|              0.0|
|      2|                0|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|                  0.0|              1.0|
|      3|                3|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|                  1.0|              0.0|
|      4|                3|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|                  1.0|              0.0|
|      5|                5|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|                  0.0|              1.0|
|      6|                0|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|                  0.0|              0.0|
|      7|                5|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|                  1.0|              0.0|
|      8|                2|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|                  0.0|              0.0|
|      9|                0|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|                  0.0|              0.0|
|     10|                5|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|                  1.0|              1.0|
|     11|                4|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|                  0.0|              0.0|
|     12|                2|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|                  0.0|              1.0|
|     13|                3|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|                  0.0|              1.0|
|     14|                2|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|                  0.0|              0.0|
|     15|                1|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|                  1.0|              1.0|
|     16|                5|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|                  1.0|              1.0|
|     17|                2|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|                  0.0|              0.0|
|     18|                4|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|                  0.0|              1.0|
|     19|                2|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|                  1.0|              0.0|
|     20|                5|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|                  1.0|              0.0|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+
only showing top 20 rows

In [ ]:
indexer = StringIndexer(inputCol = ' loan_status',outputCol = 'loan_status').fit(data)
data = indexer.transform(data)

In [ ]:
data.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+-----------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value| loan_status|self_employed_numeric|education_numeric|loan_status|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+-----------+
|      1|                2|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|    Approved|                  1.0|              0.0|        0.0|
|      2|                0|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|    Rejected|                  0.0|              1.0|        1.0|
|      3|                3|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|    Rejected|                  1.0|              0.0|        1.0|
|      4|                3|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|    Rejected|                  1.0|              0.0|        1.0|
|      5|                5|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|    Rejected|                  0.0|              1.0|        1.0|
|      6|                0|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|    Rejected|                  0.0|              0.0|        1.0|
|      7|                5|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|    Approved|                  1.0|              0.0|        0.0|
|      8|                2|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|    Rejected|                  0.0|              0.0|        1.0|
|      9|                0|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|    Approved|                  0.0|              0.0|        0.0|
|     10|                5|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|    Rejected|                  1.0|              1.0|        1.0|
|     11|                4|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|    Approved|                  0.0|              0.0|        0.0|
|     12|                2|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|    Rejected|                  0.0|              1.0|        1.0|
|     13|                3|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|    Rejected|                  0.0|              1.0|        1.0|
|     14|                2|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|    Approved|                  0.0|              0.0|        0.0|
|     15|                1|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|    Rejected|                  1.0|              1.0|        1.0|
|     16|                5|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|    Approved|                  1.0|              1.0|        0.0|
|     17|                2|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|    Approved|                  0.0|              0.0|        0.0|
|     18|                4|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|    Approved|                  0.0|              1.0|        0.0|
|     19|                2|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|    Approved|                  1.0|              0.0|        0.0|
|     20|                5|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|    Approved|                  1.0|              0.0|        0.0|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+------------+---------------------+-----------------+-----------+
only showing top 20 rows

In [ ]:
data = data.drop(' loan_status')
data.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value|self_employed_numeric|education_numeric|loan_status|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+
|      1|                2|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|                  1.0|              0.0|        0.0|
|      2|                0|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|                  0.0|              1.0|        1.0|
|      3|                3|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|                  1.0|              0.0|        1.0|
|      4|                3|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|                  1.0|              0.0|        1.0|
|      5|                5|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|                  0.0|              1.0|        1.0|
|      6|                0|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|                  0.0|              0.0|        1.0|
|      7|                5|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|                  1.0|              0.0|        0.0|
|      8|                2|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|                  0.0|              0.0|        1.0|
|      9|                0|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|                  0.0|              0.0|        0.0|
|     10|                5|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|                  1.0|              1.0|        1.0|
|     11|                4|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|                  0.0|              0.0|        0.0|
|     12|                2|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|                  0.0|              1.0|        1.0|
|     13|                3|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|                  0.0|              1.0|        1.0|
|     14|                2|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|                  0.0|              0.0|        0.0|
|     15|                1|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|                  1.0|              1.0|        1.0|
|     16|                5|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|                  1.0|              1.0|        0.0|
|     17|                2|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|                  0.0|              0.0|        0.0|
|     18|                4|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|                  0.0|              1.0|        0.0|
|     19|                2|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|                  1.0|              0.0|        0.0|
|     20|                5|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|                  1.0|              0.0|        0.0|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+
only showing top 20 rows

In [ ]:
data.printSchema()

root
 |-- loan_id: string (nullable = true)
 |--  no_of_dependents: string (nullable = true)
 |--  income_annum: string (nullable = true)
 |--  loan_amount: string (nullable = true)
 |--  loan_term: string (nullable = true)
 |--  cibil_score: string (nullable = true)
 |--  residential_assets_value: string (nullable = true)
 |--  commercial_assets_value: string (nullable = true)
 |--  luxury_assets_value: string (nullable = true)
 |--  bank_asset_value: string (nullable = true)
 |-- self_employed_numeric: double (nullable = false)
 |-- education_numeric: double (nullable = false)
 |-- loan_status: double (nullable = false)

In [ ]:
inputcolumns = [' no_of_dependents',' income_annum',' loan_amount',' loan_term',' cibil_score',' residential_assets_value',' commercial_assets_value',' luxury_assets_value',' bank_asset_value']

In [ ]:
for i in inputcolumns:
  data = data.withColumn(i,data[i].cast(IntegerType()))

In [ ]:
data.printSchema()

root
 |-- loan_id: string (nullable = true)
 |--  no_of_dependents: integer (nullable = true)
 |--  income_annum: integer (nullable = true)
 |--  loan_amount: integer (nullable = true)
 |--  loan_term: integer (nullable = true)
 |--  cibil_score: integer (nullable = true)
 |--  residential_assets_value: integer (nullable = true)
 |--  commercial_assets_value: integer (nullable = true)
 |--  luxury_assets_value: integer (nullable = true)
 |--  bank_asset_value: integer (nullable = true)
 |-- self_employed_numeric: double (nullable = false)
 |-- education_numeric: double (nullable = false)
 |-- loan_status: double (nullable = false)

In [ ]:
inputcolumn = [' no_of_dependents',' income_annum',' loan_amount',' loan_term',' cibil_score',' residential_assets_value',' commercial_assets_value',' luxury_assets_value',' bank_asset_value','self_employed_numeric','education_numeric']

In [ ]:
d = VectorAssembler(inputCols = inputcolumn, outputCol = 'attributes')
data = d.transform(data)

In [ ]:
data.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+--------------------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value|self_employed_numeric|education_numeric|loan_status|          attributes|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+--------------------+
|      1|                2|      9600000|    29900000|        12|         778|                  2400000|                17600000|            22700000|          8000000|                  1.0|              0.0|        0.0|[2.0,9600000.0,2....|
|      2|                0|      4100000|    12200000|         8|         417|                  2700000|                 2200000|             8800000|          3300000|                  0.0|              1.0|        1.0|[0.0,4100000.0,1....|
|      3|                3|      9100000|    29700000|        20|         506|                  7100000|                 4500000|            33300000|         12800000|                  1.0|              0.0|        1.0|[3.0,9100000.0,2....|
|      4|                3|      8200000|    30700000|         8|         467|                 18200000|                 3300000|            23300000|          7900000|                  1.0|              0.0|        1.0|[3.0,8200000.0,3....|
|      5|                5|      9800000|    24200000|        20|         382|                 12400000|                 8200000|            29400000|          5000000|                  0.0|              1.0|        1.0|[5.0,9800000.0,2....|
|      6|                0|      4800000|    13500000|        10|         319|                  6800000|                 8300000|            13700000|          5100000|                  0.0|              0.0|        1.0|[0.0,4800000.0,1....|
|      7|                5|      8700000|    33000000|         4|         678|                 22500000|                14800000|            29200000|          4300000|                  1.0|              0.0|        0.0|[5.0,8700000.0,3....|
|      8|                2|      5700000|    15000000|        20|         382|                 13200000|                 5700000|            11800000|          6000000|                  0.0|              0.0|        1.0|[2.0,5700000.0,1....|
|      9|                0|       800000|     2200000|        20|         782|                  1300000|                  800000|             2800000|           600000|                  0.0|              0.0|        0.0|[0.0,800000.0,220...|
|     10|                5|      1100000|     4300000|        10|         388|                  3200000|                 1400000|             3300000|          1600000|                  1.0|              1.0|        1.0|[5.0,1100000.0,43...|
|     11|                4|      2900000|    11200000|         2|         547|                  8100000|                 4700000|             9500000|          3100000|                  0.0|              0.0|        0.0|[4.0,2900000.0,1....|
|     12|                2|      6700000|    22700000|        18|         538|                 15300000|                 5800000|            20400000|          6400000|                  0.0|              1.0|        1.0|[2.0,6700000.0,2....|
|     13|                3|      5000000|    11600000|        16|         311|                  6400000|                 9600000|            14600000|          4300000|                  0.0|              1.0|        1.0|[3.0,5000000.0,1....|
|     14|                2|      9100000|    31500000|        14|         679|                 10800000|                16600000|            20900000|          5000000|                  0.0|              0.0|        0.0|[2.0,9100000.0,3....|
|     15|                1|      1900000|     7400000|         6|         469|                  1900000|                 1200000|             5900000|          1900000|                  1.0|              1.0|        1.0|[1.0,1900000.0,74...|
|     16|                5|      4700000|    10700000|        10|         794|                  5700000|                 3900000|            16400000|          4400000|                  1.0|              1.0|        0.0|[5.0,4700000.0,1....|
|     17|                2|       500000|     1600000|         4|         663|                  1300000|                  100000|             1300000|           700000|                  0.0|              0.0|        0.0|[2.0,500000.0,160...|
|     18|                4|      2900000|     9400000|        14|         780|                  2900000|                 2800000|             6700000|          4300000|                  0.0|              1.0|        0.0|[4.0,2900000.0,94...|
|     19|                2|      2700000|    10300000|        10|         736|                  1000000|                       0|             6200000|          3300000|                  1.0|              0.0|        0.0|[2.0,2700000.0,1....|
|     20|                5|      6300000|    14600000|        12|         652|                 10300000|                 3500000|            23500000|          5900000|                  1.0|              0.0|        0.0|[5.0,6300000.0,1....|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+--------------------+
only showing top 20 rows

In [ ]:
train, test = data.randomSplit([0.8,0.2], seed=11)

In [ ]:
train.count()

3437

In [ ]:
test.count()

832

In [ ]:
from pyspark.ml.classification import LogisticRegression

log = LogisticRegression(featuresCol='attributes',
                             labelCol='loan_status')

In [ ]:
pipe = Pipeline(stages = [log])

In [ ]:
fit_model = pipe.fit(train)

In [ ]:
results = fit_model.transform(test)

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator
res = BinaryClassificationEvaluator(rawPredictionCol='prediction',labelCol='loan_status')
efficiency = res.evaluate(results)

In [ ]:
print("Accuracy of the model is: ",efficiency*100,"%")

Accuracy of the model is:  89.37228915662652 %

In [ ]:
results.show()

+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+--------------------+--------------------+--------------------+----------+
|loan_id| no_of_dependents| income_annum| loan_amount| loan_term| cibil_score| residential_assets_value| commercial_assets_value| luxury_assets_value| bank_asset_value|self_employed_numeric|education_numeric|loan_status|          attributes|       rawPrediction|         probability|prediction|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+--------------------+--------------------+--------------------+----------+
|   1002|                1|      4900000|    17700000|         8|         722|                  9200000|                 7300000|            16400000|          3000000|                  0.0|              0.0|        0.0|[1.0,4900000.0,1....|[6.14682896779372...|[0.99786431307336...|       0.0|
|   1003|                5|      9600000|    20700000|        14|         442|                 25800000|                 9800000|            31800000|          8200000|                  1.0|              1.0|        1.0|[5.0,9600000.0,2....|[-4.0159262545891...|[0.01770705806485...|       1.0|
|   1009|                0|      7900000|    30800000|         4|         726|                  5000000|                14600000|            23800000|          5500000|                  1.0|              1.0|        0.0|[0.0,7900000.0,3....|[7.26120314549436...|[0.99929823022363...|       0.0|
|    101|                4|       400000|      900000|        12|         478|                   700000|                  100000|             1200000|           100000|                  1.0|              1.0|        1.0|[4.0,400000.0,900...|[-1.5707891447731...|[0.17210392200560...|       1.0|
|   1010|                1|      8900000|    22600000|        18|         617|                  8400000|                15500000|            27900000|         11700000|                  1.0|              0.0|        0.0|[1.0,8900000.0,2....|[0.85618670759910...|[0.70186333306917...|       0.0|
|   1012|                1|      1400000|     3300000|         8|         306|                  3200000|                  800000|             2700000|           800000|                  1.0|              1.0|        1.0|[1.0,1400000.0,33...|[-5.4524576836453...|[0.00426746935374...|       1.0|
|   1013|                5|       500000|     1400000|         4|         471|                   500000|                  100000|             1300000|           300000|                  0.0|              0.0|        1.0|[5.0,500000.0,140...|[-0.2065407716932...|[0.44854758659226...|       1.0|
|   1017|                3|      1600000|     3900000|        20|         804|                   900000|                 2500000|             3200000|           800000|                  1.0|              1.0|        0.0|[3.0,1600000.0,39...|[5.38434886009983...|[0.99543312536237...|       0.0|
|   1022|                2|      7600000|    23600000|         6|         358|                 20200000|                 2900000|            22100000|         10900000|                  0.0|              1.0|        1.0|[2.0,7600000.0,2....|[-3.3488924818798...|[0.03393144998761...|       1.0|
|   1024|                4|      1100000|     2900000|         4|         554|                  2800000|                 1000000|             4100000|          1600000|                  0.0|              1.0|        0.0|[4.0,1100000.0,29...|[1.85692381667543...|[0.86493799075758...|       0.0|
|   1027|                2|      1900000|     7000000|        14|         818|                  4800000|                 3500000|             4500000|          2100000|                  0.0|              1.0|        0.0|[2.0,1900000.0,70...|[7.32364662879710...|[0.99934068303688...|       0.0|
|   1031|                3|      7900000|    26600000|        12|         409|                 17100000|                 1400000|            22500000|          8700000|                  0.0|              0.0|        1.0|[3.0,7900000.0,2....|[-2.8344719201576...|[0.05548955608182...|       1.0|
|   1033|                4|       700000|     2600000|        18|         478|                   600000|                  600000|             2100000|           300000|                  0.0|              0.0|        1.0|[4.0,700000.0,260...|[-2.1717445845806...|[0.10231668566444...|       1.0|
|   1040|                5|       600000|     2300000|         4|         347|                        0|                       0|             1900000|           200000|                  1.0|              1.0|        1.0|[5.0,600000.0,230...|[-3.5643098563362...|[0.02753677552176...|       1.0|
|   1044|                2|      5800000|    13300000|         4|         878|                  8400000|                 5400000|            18600000|          4500000|                  1.0|              0.0|        0.0|[2.0,5800000.0,1....|[9.41528207922649...|[0.99991853715615...|       0.0|
|   1059|                3|      3000000|    11400000|        10|         424|                  1800000|                 4200000|            10900000|          1500000|                  0.0|              1.0|        1.0|[3.0,3000000.0,1....|[-2.0968385003751...|[0.10940448218194...|       1.0|
|   1062|                3|       300000|      500000|         2|         477|                   700000|                  200000|              800000|           400000|                  1.0|              1.0|        1.0|[3.0,300000.0,500...|[0.03848487862680...|[0.50962003234483...|       0.0|
|   1066|                2|      1800000|     3600000|         4|         343|                  3400000|                 1100000|             6200000|          1500000|                  0.0|              1.0|        1.0|[2.0,1800000.0,36...|[-3.8263860760401...|[0.02132361105849...|       1.0|
|   1069|                1|       200000|      400000|         6|         768|                   300000|                  100000|              600000|                0|                  0.0|              1.0|        0.0|[1.0,200000.0,400...|[7.04720501759087...|[0.99913091921708...|       0.0|
|   1078|                1|      5900000|    13000000|         2|         386|                 16300000|                 5000000|            12000000|          3800000|                  1.0|              0.0|        1.0|[1.0,5900000.0,1....|[-3.0741361200854...|[0.04418681159065...|       1.0|
+-------+-----------------+-------------+------------+----------+------------+-------------------------+------------------------+--------------------+-----------------+---------------------+-----------------+-----------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows